body{
    background:#85C1E9;
    height: 100vh;
    margin: 1.5rem;

}

.page{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #273746;
    border: 1px solid #273746;
    padding: 1rem;
  }
  
.page:hover{
    background-color: #273746;
    color: #ECF0F1;
}



.bodyPage {
    display: flex;
    flex-direction: column;
    
}
  

.conteneurHoursDate{
    /*max-width: 23rem;*/
    width: 32rem;
    min-height: 2rem;
    margin: 6rem auto 0;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    background-color: rgba(236, 240, 241, 0.5);
    text-align: center;
    position: relative;
}

.conteneurHours{
    height: 10%;
}

h2{
    
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    font-family: 'Monoton', cursive;
}
.conteneurHoursDate P{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Borel', cursive;  
}

.conteneurTemperature{
    width: 32rem;
    min-height: auto;
    margin: 100px auto 0;
    border-radius: 10px;
    /*padding: 1rem 0.5rem;*/
    color: #212121;
    background-color: rgba(236, 240, 241, 0.5);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;

}


.conteneurImg {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
  }

.infoIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.loader {
    background-color: rgba(236, 240, 241, 0.5);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 
    visibility 0.4s ease-out,
    opacity 0.4s ease-out;
  }

.loader.active {
    visibility: visible;
    opacity: 1;
}

.myCity {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    color: #333;
    font-family: 'Borel', cursive; 
}

.myCountry {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #606060;
}
.myTemperature {
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    color: #212121;
}


/* 583px*/

/* phone  */
@media (max-width: 583px){ 
    body{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .page{
      margin-bottom: 1rem;
      width: 25rem;
      text-align: center;
    }

    .conteneurHoursDate{
        
        width: 20rem;
    }

    .conteneurTemperature{
       
       width: 20rem;
    
    }
  
  }






